<h1> <center>  {{title}} </center> </h1>
 
     
            <div class="thumbnail", style="background-color: darkseagreen; text-align: center; margin: auto; width: 400px ;padding : 10px">
                
                <div class="caption">
                   <br>
                    <h3>Nom : {{ name }}</h3>
                    
                    <small>Last Name: {{ lastName}} </small>
                  
                    <p class="description">Classe: :{{ class }}</p>
                    <br><br>
                </div>
            </div>
